@import './normalize.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

@import './Navbar.scss';
@import './Home.scss';

body {
	font-family: 'Noto Sans JP', sans-serif;
	max-width: 1440px;
	margin: 0 auto;

	font-size: 100%;
	padding: 2%;
}
